
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.middleContainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 500px;
}

.Heading{
    color: black;
    font-size: 35px;
    text-align: center;
}

.childContainer{
    margin-top: 10px;
}

.label{
    font-size: 20px;
}
.btn,.inputContainer{
height: 50px;
border-radius: 3px;
width: 400px;
}

.inputContainer{
    border: 0.5px solid black;
    padding-left: 10px;
}

.btn{
    background-color:#006ce4;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500px;
    margin-top: 10px;
    align-items: center;
}
.btn:hover{
    background-color: #003b95;
    color: #fff;
}
.card{
    border:none;
    margin-top: 10px;
}
